.content {
  background-color: #c7d3dd;
  overflow: hidden;
}
.bounds {
  background-color:#ddd;
  height :100%;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.mainContent {
}
.mainToolbar{
  margin:0;
  background-color: #37393a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

#test-section {
  padding-top: 7%;
}

.container {
  overflow:hidden
}
.more-content {
  background-color: #37393a;
}

.example-container {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(20, 20, 20, 0.75),
      rgba(191, 191, 191, 0.45)
    )
      /* bottom, image */
    ,url(https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb);
    background-attachment: fixed
}
.example-sidenav {
  padding: 20px;
  position: fixed;

}
.graphsec {
  background-color: lightgray;
}

.sec3 {
  background: #c7d3dd;
  color:darkblue;
  text-transform: uppercase;
}

.bounds2 {
  background-color:#ddd;
  height: 1500px;
}

.sec12 {
  background: #FFFFFF;
  color:darkblue;
  text-transform: uppercase;
  text-align:center;
  padding-top: 2%;
}

.sec22 {
  background: whitesmoke;
  color:darkblue;

}

.sec32 {
  background: whitesmoke;
  color:darkblue;
  text-transform: uppercase
}
.sec22, .sec32 {
  padding-top:20px;
  text-align:center
}

.content2 {
  min-width: 300px;
  /*height: 400px;*/
}

.popularity {
  background: #FFFFFF;

}

.pagerank {
  background: whitesmoke;
}

.graph {
  padding-left: 5%;
}

.other {
  background: antiquewhite;
}

.contact {
  background: navajowhite;
}

.credits {
  padding-left: 5%;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}
