<div *ngIf="nodes$ && links$" >
<div class="bounds">
  <div class="content"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >

    <div fxFlex="80" class="sec1" fxFlex.xs="55" >

      <mat-card class="graphsec">
      <div >
        <graph [nodes]="nodes$" [links]="links$"></graph>
      </div>
      </mat-card>

    </div>
    <div fxFlex="20" class="sec3" fxFlex.xs="15">
      <app-infobox></app-infobox>
    </div>

  </div>

</div>

<div class="bounds2">
  <div class="content2"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill >

    <div fxFlex="100" class="sec12" fxFlex.xs="100">
      <h2>Page Rank</h2>

    </div>

  </div>

</div>
</div>
