.content {
  background-color: #c7d3dd;
}
.bounds {
  background-color:#ddd;
  height :100%;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.mainContent {
}
.mainToolbar{
  margin:0;
  background-color: #37393a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

#test-section {
  padding-top: 70px;
}

.container {
  overflow: hidden
}
.more-content {
  background-color: #37393a;
}

.example-container {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(169, 190, 209, 0.45),
      rgba(191, 191, 191, 0.45)
    )
      /* bottom, image */
   /* ,url(http://www.hdnicewallpapers.com/Walls/Big/Drawings%20and%20Paintings/Best_Nature_Painting_Pics.jpg);*/
}
.example-sidenav {
  padding: 20px;
}
.graphsec {
  background-color: #77b6ea;
}

.sec3 {
  background: #c7d3dd;
  color:darkblue;
  text-transform: uppercase;
}

.bounds2 {
  background-color:#ddd;
  height: 800px;
}

.sec12 {
  background: #FFFFFF;
  color:darkblue;
  text-transform: uppercase
}

.sec22 {
  background: whitesmoke;
  color:darkblue;

}

.sec32 {
  background: whitesmoke;
  color:darkblue;
  text-transform: uppercase
}

.sec12, .sec22, .sec32 {
  padding-top:20px;
  text-align:center
}

.content2 {
  min-width: 300px;
  /*height: 400px;*/
}
