<mat-sidenav-container class="example-container">
  <mat-toolbar class="mainToolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon class="md-24; md-light">menu</mat-icon>
    </button>
    ￼
  </mat-toolbar>
  <mat-sidenav #sidenav class="example-sidenav" opened="false">
    <button cdk-focus-start mat-button (click)="sidenav.toggle()">
      Close
    </button>
    <mat-list>
      <h3 matSubheader>Site</h3>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button tabindex="-1" mat-button>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button tabindex="-1" mat-button>
          About
        </button>
      </mat-list-item>
      <mat-list-item>
        <button tabindex="-1" mat-button>
          Portfolio
        </button>
      </mat-list-item>
    </mat-list>
    <mat-list>
      <h3 matSubheader>Current</h3>
      <mat-divider></mat-divider>

      <mat-list-item>
        <button tabindex="-1" mat-button>
          Graph
        </button>
      </mat-list-item>
      <mat-list-item>
        <button tabindex="-1" mat-button>
          Article
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-toolbar class="dummy"></mat-toolbar>

  <!-- Begin Container -->
  <div class="content3"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill>
    <div fxFlex="10" fxFlex.xs="0"></div>
    <div fxFlex="80" fxFlex.xs="100">
      <!--Begin Main content -->
      <div *ngIf="nodes$ && links$" class="mainContent">
        <div class="bounds">

          <div class="content"
               fxLayout="row"
               fxLayout.xs="column"
               fxFlexFill>

            <div fxFlex="80" class="sec1" fxFlex.xs="55">

              <mat-card class="graphsec">

                <div>
                  <graph [nodes]="nodes$" [links]="links$"></graph>
                </div>
                <mat-card-footer>
                  <mat-card-subtitle class="credits">Graph of CS Dept. Public Course Pages</mat-card-subtitle>

                </mat-card-footer>

              </mat-card>

            </div>
            <div fxFlex="20" class="sec3" fxFlex.xs="15">
              <app-infobox></app-infobox>
            </div>

          </div>

        </div>

        <div class="bounds2">
          <div class="content2"
               fxLayout="column"
               fxLayout.xs="column"
               fxFlexFill>

            <div fxFlex="20" class="sec12" fxFlex.xs="20">
              <button scrollTo scrollTargetSelector="#test-section" mat-fab class="more-content">
                <mat-icon class="md-24; md-light">expand_more</mat-icon>
              </button>

              <div id="test-section">
                <h1 style="color:#37393a;" data-aos-duration="600" data-aos-delay="300" data-aos="fade-up"
                    data-aos-once="true">Page Rank & Zipf's Law</h1>

              </div>
            </div>
            <div fxFlex="30" class="popularity" fxFlex.xs="40">
              <div class="content-zipf"
                   fxLayout="row"
                   fxLayout.xs="column"
                   fxFlexFill fxLayoutGap=1%>
                <div fxFlex="40" class="graph" fxFlex.xs="60">
                  <bar-chart-demo></bar-chart-demo>
                </div>
                <div fxFlex="60" class="popularity-text" fxFlex.xs="40">
                  <blockquote class="aqua">
                    <h1><span class="Caqua">The Rich get Richer </span> - Herbert Simon</h1>
                  </blockquote>
                  <p>
                   Zipf's law is the statistical occurrence where a few entities gather the most of a distribution
                    while the majority of entities have very little of it. In information retrieval this translates to the long-tailed curve
                    on the left, where there are a few words that occur many times and the majority of
                    words are very rare in occurence. Herbet Simon aptly connects Zipf's law to the real world. Those with
                    great wealth, become even more wealthy at a faster rate, while the majority of people will
                    likely never be ultra wealthy. Not only does Zipf's law apply to statitical analysis of text corpuses,
                    but it also helps explain popularity, social networks, populations and many other
                    organically growing phenonmons.
                  </p>
                </div>
              </div>
            </div>
            <div fxFlex="30" class="pagerank" fxFlex.xs="40">
              <div class="content-zipflaw"
                   fxLayout="row"
                   fxLayout.xs="column"
                   fxFlexFill fxLayoutGap=1%>
                <div fxFlex="40" class="pagerank-text">

                  <blockquote class="bluejeans">
                    <h1><span class="Cbluejeans">Man is by nature a social animal </span> - Aristotle</h1>
                  </blockquote>
                </div>
                <div fxFlex="60">
                  <h3>How does Zipf's Law apply to Page Rank then?</h3>
                  <p>Page Rank can be thought of as a way to measure popularity. More popular pages get rated up more
                    and more, getting most of the page rank score while the majority of nodes only get the minimum score.
                    Popularity in relation to page rank can be thought of as many authoritative pages pointing to
                    a another page (making it popular).
                    Clearly a web graph will exhibit Zipf's Law by clustering into different spheres. This is even more true
                    for social networks, where social creatures will form groups. We can see it in
                    our society, with viral videos/posts and popular youtube stars. Popularity begets more popularity.
                    When Zipf's law applies to graphs, it can
                    be said the graph is a Free-Scale graph. This was first investigated by Stanely Milgram who fathered
                    the concept of 6-degrees of separation. 6 degrees of separation of nodes which can be thought
                    of as people is a property of Scale-Free graphs. Page rank then can effectively measure which nodes will
                    gather the most clusterings around it. The graph above shows dense clustering interspersed by
                    the rare occasional links connecting dense clustering together, demonstrating this.
                  </p>
                </div>

              </div>


            </div>
            <div fxFlex="20" class="contact" fxFlex.xs="40">
              <div class="resources">
              <h3>Additional Resources and Readings</h3>
              <mat-list class="rsrc-list">
                <mat-list-item><mat-icon mat-list-icon>explore</mat-icon><a href="http://infolab.stanford.edu/~backrub/google.html">More on Page Rank</a></mat-list-item>
                <mat-list-item><mat-icon mat-list-icon>explore</mat-icon><a href="http://mathworld.wolfram.com/Scale-FreeNetwork.html">6 degrees of separation graphs</a></mat-list-item>
                <mat-list-item><mat-icon mat-list-icon>explore</mat-icon><a href="https://nlp.stanford.edu/IR-book/html/htmledition/zipfs-law-modeling-the-distribution-of-terms-1.html">
                  Zipfs Law
                </a></mat-list-item>
              </mat-list>

              </div>
            </div>
            <div fxFlex="10">
              <i class="icon ion-social-linkedin-outline"></i>
              <i class="icon ion-social-github"></i>
              <i class="icon ion-social-googleplus"></i>
              <i class="icon ion-social-twitter"></i>
              <i class="icon ion-social-facebook"></i>

            </div>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Technical Specifications
                  </mat-panel-title>
                  <mat-panel-description>
                    Spidering, Computation, Data
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <h3>About the Graph Data</h3>
                <h3>Spidering (Data Collection)</h3>
                Built the graph using a Java spider
                <h3>Page Rank Calculation</h3>
                Done by using Neo4j graph structure along with python code to calculate page rank.
                Result was checked against the networkx python library that has another page rank implementation.
                Results differed because of a few additions and tweaks to the original algorithm.
                Possible loss of precision due to very small values being used.
                <h3>Data Visualization</h3>
                Used d3 as the base library for interactive force directed graph. See here for the base code used since
                Angular does not have a pure angular component d3.js library. Shared service used
                to enable information pop up on-demand in UI.
                <p>This is the primary content of the panel. sgkajsbljanslgknaklsgnlkasnvklgnar
                  anlgnalrgnlarknglakngr
                  anlsrgknalwknrgawnrgkanwrlkgnawlrkgnajng;albgl;awrglarhglhawrljghal;rhgl;arhgl;ahg;ha;lgha
                  aogwa;h;awhgoiwahgoasbjladfbljashghawr;oghao;riwgho;ahgo;iahg
                  asorgoawh</p>

                <mat-action-row>
                  <button mat-button>To Blog Post</button>
                </mat-action-row>
              </mat-expansion-panel>

            </mat-accordion>


          </div>

        </div>
      </div>
      <!--End Main Content -->
    </div>
    <div fxFlex="10" fxFlex.xs="0"></div>

  </div>
  <div class="content4"
       fxLayout="row"
       fxLayout.xs="column"
       fxFlexFill>
    <div fxFlex="10" fxFlex.xs="0"></div>
    <div fxFlex="80" fxFlex.xs="100">

    </div>
    <div fxFlex="10" fxFlex.xs="0"></div>

  </div>

  <!-- End container -->

</mat-sidenav-container>
