.content {
  background-color: #c7d3dd;
}
.bounds {
  background-color:#ddd;
  height :100%;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

ng-sidebar-container {
  height: 100vh;
}
mat-toolbar{
  margin: 0;
  background-color: #37393a;
}

.example-sidenav {
  padding: 20px;
}
.graphsec {
  background-color: #77b6ea;
}

.sec3 {
  background: #c7d3dd;
  color:darkblue;
  text-transform: uppercase;
}

.bounds2 {
  background-color:#ddd;
  height: 800px;
}

.sec12 {
  background: #FFFFFF;
  color:darkblue;
  text-transform: uppercase
}

.sec22 {
  background: whitesmoke;
  color:darkblue;

}

.sec32 {
  background: whitesmoke;
  color:darkblue;
  text-transform: uppercase
}

.sec12, .sec22, .sec32 {
  padding-top:20px;
  text-align:center
}

.content2 {
  min-width: 300px;
  /*height: 400px;*/
}
